{{#section "content"}}
<div class="row">
    <div class="container">
        <h3 class="page-all-header">View Asset (Please Enter Site Code)</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="POST" action="/web/asset/search">
                    <div class="form-group" style="padding-bottom: 40px;">
                        <div class="col-md-8"></div>
                        <div class="col-md-2">
                            <input class="form-control" name="Site_Code" placeholder="Enter Site Code">
                        </div>
                        <div class="col-md-2"><input type="submit" class="btn btn-danger" value="Search"></div>
                    </div>
                </form>
                <div style="overflow-y: auto;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Asset Code</th>
                                <th>Asset Type</th>
                                <th>Description</th>
                                <th>Responsible Warehouse</th>
                                <th>Create Date</th>
                                <th>Tag Write Date</th>
                                <th>Tag Read Date</th>
                            </tr>
                        </thead>
                        {{#if asset}}
                        {{#each asset}}
                        <tr>
                            <td><a href="/web/asset/edit-asset/?asset={{Asset_Id}}&site={{Site_Code}}"
                                    class="btn btn-warning btn-sm">Update</a></td>
                            <td><a href="/web/asset/delete-asset/?asset={{Asset_Id}}&site={{Site_Code}}"
                                    class="btn btn-danger btn-sm">Delete</a></td>
                            {{#ifeq Tag_Status 1}}
                            <td style="background-color: brown;color:white;">{{Asset_Code}}</td>
                            <td style="background-color: brown;color:white;">{{Type_Description}}</td>
                            <td style="background-color: brown;color:white;">{{Description}}</td>
                            <td style="background-color: brown;color:white;">{{Responsible_Warehouse}}</td>
                            <td style="background-color: brown;color:white;">{{Create_Date}}</td>
                            <td style="background-color: brown;color:white;">{{Generate_Time}}</td>
                            <td style="background-color: brown;color:white;">{{Track_Time}}</td>
                            {{else}}
                            {{#ifeq Tag_Status 2}}
                            <td style="background-color: darkgreen;color:white;">{{Asset_Code}}</td>
                            <td style="background-color: darkgreen;color:white;">{{Type_Description}}</td>
                            <td style="background-color: darkgreen;color:white;">{{Description}}</td>
                            <td style="background-color: darkgreen;color:white;">{{Responsible_Warehouse}}</td>
                            <td style="background-color: darkgreen;color:white;">{{Create_Date}}</td>
                            <td style="background-color: darkgreen;color:white;">{{Generate_Time}}</td>
                            <td style="background-color: darkgreen;color:white;">{{Track_Time}}</td>
                            {{else}}
                            <td style="color: black;">{{Asset_Code}}</td>
                            <td style="color: black;">{{Type_Description}}</td>
                            <td style="color: black;">{{Description}}</td>
                            <td style="color: black;">{{Responsible_Warehouse}}</td>
                            <td style="color: black;">{{Create_Date}}</td>
                            <td style="color: black;"></td>
                            <td style="color: black;"></td>
                            {{/ifeq}}
                            {{/ifeq}}
                        </tr>
                        {{/each}}
                        {{/if}}
                    </table>
                </div>
            </div>
            {{#if message}}
            <div class="panel-footer">
                <span class="error-message">
                    {{message}}
                </span>
            </div>
            {{/if}}
        </div>
    </div>
</div>
<script>
    document.getElementById('li-configuration').classList.add('active');
</script>
{{/section}}